version: '3.8'

services:
  postgres:
    image: postgres:17-alpine
    container_name: ads_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    networks:
      - ads_network

networks:
  ads_network:
    driver: bridge
