name: Deploy to Server
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into server and deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 34.16.51.120
          username: spai0538
          key: ${{ secrets.GCP_SSH_KEY }}
          script: |
            cd /home/spai0538/AdsProject
            git pull origin main
#            docker compose down
#            docker compose up -d --build